<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hirain.itd.hmi.demo.dao.CarMapper">

	<insert id="insert" parameterType="hirain.itd.hmi.demo.bean.Car">
		insert into vm_car (name, pwd,type,city_id,project_id,capacity,photo_path)
		values
		(#{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{city_id,jdbcType=INTEGER},
		#{project_id,jdbcType=INTEGER},
		#{capacity,jdbcType=INTEGER},#{photo_path,jdbcType=VARCHAR})

	</insert>

	<select id="selectCarProfileById" resultType="hirain.itd.hmi.demo.bean.vo.CarProfile" parameterType="int">
		select car.car_id,car.city_id,car.project_id,car.name,car.pwd,car.type,city.name as city,pj.name as project,car.capacity,car.photo_path
		 from vm_car as car , dictionary_city as city,dictionary_project as pj
		where car.city_id=city.city_id and car.project_id = pj.project_id and car_id =#{car_id,jdbcType=INTEGER}
	</select>

	<update id="updateCarById" parameterType="hirain.itd.hmi.demo.bean.Car">
	update vm_car
	set name=
	#{name,jdbcType=VARCHAR},pwd=
	#{pwd,jdbcType=VARCHAR},type= #{type,jdbcType=VARCHAR},
	city_id=#{city_id,jdbcType=INTEGER},
	project_id=#{project_id,jdbcType=INTEGER},
	capacity=#{capacity,jdbcType=INTEGER},
	update_time = CURRENT_TIMESTAMP
	where car_id =
	#{car_id,jdbcType=INTEGER}
	</update>

	<update id="updateCarPhotoPathById">
		update vm_car
		set photo_path=#{path,jdbcType=VARCHAR},update_time = CURRENT_TIMESTAMP
		where car_id=#{id,jdbcType=INTEGER}

	</update>

	<delete id="deleteCarById" parameterType="int">
		delete from
		vm_car
		where
		car_id = #{id,jdbcType=INTEGER}
	</delete>


	<select id="selectAll" resultType="hirain.itd.hmi.demo.bean.vo.CarProfile">
		select car.car_id,car.city_id,car.project_id,car.name,car.pwd,car.type,city.name as city,pj.name as project,car.capacity,car.photo_path
		 from vm_car as car , dictionary_city as city,dictionary_project as pj
		where car.city_id=city.city_id and car.project_id = pj.project_id
		<if test="param1 !=null">
			and  car.type like concat ('%',#{type},'%')
		</if>
		<if test="param2 !=null">
			and  city.name like concat ('%',#{cityName},'%')
		</if>
		<if test="param3 !=null">
			and  pj.name like concat ('%',#{projectName},'%')
		</if>
		order by car.car_id ASC
	</select>

	<select id="selectCarByName"
		resultType="hirain.itd.hmi.demo.bean.Car"
		parameterType="java.lang.String">
		select * from
		vm_car
		where name =
		#{name,jdbcType=VARCHAR}
	</select>

	<delete id="deleteCarByProjectId">
		delete from vm_car
		where project_id=#{project_id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteCarByCityId">
		delete from vm_car
		where city_id=#{city_id,jdbcType=INTEGER}
	</delete>
</mapper>