<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hirain.itd.hmi.demo.dao.CarMapper">

	<insert id="insert">
		insert into vm_car (name, pwd)
		values
		(#{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR})
	</insert>

	<select id="selectCarById"
		resultType="hirain.itd.hmi.demo.bean.Car" parameterType="int">
		select * from
		vm_car
		where car_id = #{id,jdbcType=INTEGER}
	</select>

	<update id="updateCarById">
		update vm_car
		set name=
		'#{name,jdbcType=VARCHAR}',pwd=
		'#{pwd,jdbcType=VARCHAR}'
		where car_id =
		#{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteCarById" parameterType="int">
		delete from
		vm_car
		where
		car_id = #{id,jdbcType=INTEGER}
	</delete>


	<select id="selectAll" resultType="hirain.itd.hmi.demo.bean.Car">
		select * from vm_car
	</select>

	<select id="selectCarByName"
		resultType="hirain.itd.hmi.demo.bean.Car"
		parameterType="java.lang.String">
		select * from
		vm_car
		where name =
		#{name,jdbcType=VARCHAR}
	</select>
</mapper>