<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hirain.itd.hmi.demo.dao.CityMapper">
     <insert id="insert">
         insert into dictionary_city(name)
         values
         (#{name,jdbcType=VARCHAR})
     </insert>

     <update id="updateCityById">
         update dictionary_city set
         name=#{name,jdbcType=VARCHAR},
         update_time=CURRENT_TIMESTAMP
         where city_id=#{id,jdbcType=INTEGER}
     </update>

    <delete id="deleteCityById" parameterType="int">
        delete from dictionary_city
        where
        city_id=#{id,jdbcType=INTEGER}
    </delete>

    <select id="selectAll" resultType="hirain.itd.hmi.demo.bean.City">
        select * from dictionary_city where 1=1
        <if test="name !=null">
            and name like concat('%',#{name},'%')
        </if>
        order by city_id ASC
    </select>

    <select id="ifExistCityName" resultType="int">
        select count(1) from dictionary_city
        where name=#{name}
    </select>
</mapper>