<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hirain.itd.hmi.demo.dao.ProjectMapper">
    <insert id="insert">
         insert into dictionary_project(name)
         values
         (#{name,jdbcType=VARCHAR})
     </insert>

    <update id="updateProjectById">
         update dictionary_project set
         name=#{name,jdbcType=VARCHAR},
         update_time=CURRENT_TIMESTAMP
         where project_id=#{id,jdbcType=INTEGER}
     </update>

    <delete id="deleteProjectById" parameterType="int">
        delete from dictionary_project
        where
        project_id=#{id,jdbcType=INTEGER}
    </delete>

    <select id="selectAll" resultType="hirain.itd.hmi.demo.bean.Project">
        select * from dictionary_project where 1=1
        <if test="name !=null">
            and name like concat('%',#{name},'%')
        </if>
        order by project_id ASC
    </select>

    <select id="ifExistProjectName" resultType="int">
        select count(1) from dictionary_project
        where name=#{name}
    </select>
</mapper>